@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Roboto Slab';
		src: local('Roboto Slab'), local('roboto slab'), local('Roboto-Slab'), local('roboto-slab'),
			url('/fonts/RobotoSlab-VariableFont_wght.ttf');
	}
	@font-face {
		font-family: 'Roboto Mono';
		src: local('Roboto Mono'), local('roboto mono'), local('Roboto-Mono'), local('roboto-mono'),
			url('/fonts/RobotoMono-VariableFont_wght.ttf');
	}
}
