@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Noto Sans';
		src: local('Noto Sans'), local('noto sans'), local('Noto-Sans'), local('noto-sans'),
			url('/fonts/NotoSans-VariableFont_wdth,wght.ttf');
	}

	@font-face {
		font-family: 'Noto Sans Mono';
		src: local('Noto Sans Mono'), local('noto sans mono'), local('Noto-Sans-Mono'),
			local('noto-sans-mono'), url('/fonts/NotoSansMono-VariableFont_wdth,wght.ttf');
	}
}

@layer components {
}

body {
	@apply bg-white dark:bg-black text-black dark:text-white;
	transition:
		background-color 0.1s ease-in,
		color 0.1s ease-in;
	scroll-behavior: smooth;
	overflow-y: scroll;
}

.grecaptcha-badge {
	visibility: hidden;
}
